@font-face {
    font-family: 'playfare-c';
    src: url(src/fonts/PlayfairDisplay-Regular.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'playfare-c', serif;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

.container {
    padding-left: 10vw;
    padding-right: 10vw;

}

.parallax {
    perspective: 1px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
}

.parallax::before {
    z-index: 1;
    content: '';
    background: linear-gradient(330deg, rgba(11, 29, 38, 0) 30%, #0B1D26 130%);
    height: 100vh;
    width: 100%;
    position: absolute;
    /* top: -20px; */
    left: 0;
}

.parallax__layer {
    position: fixed;
    object-fit: cover;
    min-width: 800px;
    width: 106%;
    will-change: transform;
}

/* .parallax__img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}

.parallax-1 {
    top: 0;
    transform: translateZ(-9px);
    scale: 10.1;
}

.parallax-2 {
    top: 3000px;
    transform: translateZ(-5px);
    scale: 6.1;
}

.parallax-3 {
    top: 2000px;
    transform: translateZ(-3px);
    scale: 4.1;
}

.parallax-4 {
    top: 300px;
    transform: translateZ(-4px);
    opacity: 1;
    scale: 5;
}

.content {

} */

.headline {
    max-width: 1300px;
    min-width: 300px;


}

.headline__label {
    color: #FBD784;
    display: flex;
    align-items: center;
    letter-spacing: .5rem;
    margin-bottom: 20px;
}

.arrow {
    position: relative;
    display: flex;
    width: 70px;
    flex: 0 0 30px;
    margin-left: 10px;
    transition: 1s all;
}

.content__link {
    cursor: pointer;
}

.content__link:hover .arrow {
    flex: 0 0 70px;
}

.arrow__mid {
    position: absolute;
    display: flex;
    flex: 0 0 30px;
    height: 1px;
    /* margin-right: 28px; */
    background-color: #FBD784;
    top: 50%;
    width: 28px;
    transition: 1s all;
}

.content__link:hover .arrow__mid {
    flex: 0 0 70px;
    width: 68px;
}

.arrow__left-side {
    position: absolute;
    display: flex;
    flex: 0 0 15px;
    height: 1px;
    background-color: #FBD784;
    width: 12px;
    top: -4px;
    transform: rotate(45deg);
    right: 0;
}

.arrow__right-side {
    position: absolute;
    display: flex;
    flex: 0 0 15px;
    height: 1px;
    background-color: #FBD784;
    width: 12px;
    top: 4px;
    transform: rotate(-45deg);
    right: 0;
}

.headline__label-line {
    display: flex;
    flex: 0 0 70px;
    height: 1px;
    margin-right: 20px;
    background-color: #FBD784;
}

.headline__main {
    color: #fff;
    text-align: left;
    min-width: 0;
    font-weight: 400;
}

.paragraph {
    margin: 30px 0;
    line-height: 1.8;
}


.content {
    padding-top: 155vh;
    color: #fff;
}

.content__block {
    display: flex;
}

.content__block:nth-child(1) {
    padding-top: -300px;
}

.content__info {
    padding: 10%;
    flex-basis: 60%;
}

.content__photo {
    flex-basis: 40%;
}

.content__container::before {
    content: '';
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
    height: 50vh;
    width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
}

.content__container {
    position: relative;
    /* height: 1000px; */
    background-color: #0B1D26;
}

.content__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}